
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TDTU-Center</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" type="text/css" href="css/animate.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/line-awesome.css">
<link rel="stylesheet" type="text/css" href="css/line-awesome-font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" type="text/css" href="lib/slick/slick.css">
<link rel="stylesheet" type="text/css" href="lib/slick/slick-theme.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/responsive.css">

<!-- Nhut added jquery and js -->
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="post_ajax.js"></script>
</head>


<body>
	

	<div class="wrapper">
		
		<header>
			<div class="container">
				<div class="header-data">
					<div class="logo">
						<a href="/index" title=""><img src="images/index_logo.png" alt=""></a>
					</div><!--logo end-->
					<div class="search-bar">
						<form action="/profile">
							<input class="typeahead" type="text" name="search" placeholder="Search...">
							<button type="submit"><i class="la la-search"></i></button>
						</form>
					</div><!--search-bar end-->
					<nav>
						<ul>
							<li>
								<a href="/index" title="">
									<span><img src="images/icon1.png" alt=""></span>
									Home
								</a>
							</li>
							<!-- <li>
								<a href="projects.html" title="">
									<span><img src="images/icon3.png" alt=""></span>
									Projects
								</a>
							</li> -->
							<li>
								<a href="#" title="">
									<span><img src="images/icon4.png" alt=""></span>
									Profiles
								</a>
								<ul>
									<li><a href="user-profile.html" title="">User Profile</a></li>
									<li><a href="profiles.html" title="">Dean profiles</a></li>
								</ul>
							</li>
							<!-- Nhut deleted Messages li here -->
							<li>
								<a href="#" title="" class="not-box-open">
									<span><img src="images/icon7.png" alt=""></span>
									Notification
								</a>
								<div class="notification-box">
									<div class="nt-title">
										<h4>Setting</h4>
										<a href="#" title="">Clear all</a>
									</div>
									<div class="nott-list">
										<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="images/resources/ny-img1.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="images/resources/ny-img2.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="images/resources/ny-img3.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="images/resources/ny-img2.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="view-all-nots">
						  					<a href="#" title="">View All Notification</a>
						  				</div>
									</div><!--nott-list end-->
								</div><!--notification-box end-->
							</li>
						</ul>
					</nav><!--nav end-->
					<div class="menu-btn">
						<a href="#" title=""><i class="fa fa-bars"></i></a>
					</div><!--menu-btn end-->
					<div class="user-account">
						<div class="user-info">
							<% if(locals.data.imageurl != undefined) { %>
								<img src="<%= locals.data.imageurl%>" alt="" width="30px" height="30px">
							<% } else{ %>
								<img src="http://via.placeholder.com/30x30" alt="">
							<% } %>
							<a href="#" title=""><%= locals.data.displayname.slice(0, 5).concat('...')%></a>
							<!-- <i class="la la-sort-down"></i> -->
						</div>
						<div class="user-account-settingss">
							<!-- <h3>Online Status</h3>
							<ul class="on-off-status">
								<li>
									<div class="fgt-sec">
										<input type="radio" name="cc" id="c5">
										<label for="c5">
											<span></span>
										</label>
										<small>Online</small>
									</div>
								</li>
								<li>
									<div class="fgt-sec">
										<input type="radio" name="cc" id="c6">
										<label for="c6">
											<span></span>
										</label>
										<small>Offline</small>
									</div>
								</li>
							</ul> -->
							<h3>Setting</h3>
							<ul class="us-links">
								<li><a href="/proSet" title="">Account Setting</a></li>
								<li><a href="/sendMessage" title="">Report a problem</a></li>
								<li><a href="#" title="">Terms & Conditions</a></li>
							</ul>
							<h3 class="tc"><a href="/logout" title="">Logout</a></h3>
						</div><!--user-account-settingss end-->
					</div>
				</div><!--header-data end-->
			</div>
		</header><!--header end-->

		<main>
			<div class="main-section">
				<div class="container">
					<div class="main-section-data">
						<div class="row">
							<div class="col-lg-3 col-md-4 pd-left-none no-pd">
								<div class="main-left-sidebar no-margin">
									<div class="user-data full-width">
										<div class="user-profile">
											<div class="username-dt">
												<div class="usr-pic">
													<% if(locals.data.imageurl != undefined) { %>
														<img src="<%= locals.data.imageurl%>" alt="" width="110px" height="110px">
													<% } else {%>
														<img src="https://www.pngkey.com/png/full/73-730477_first-name-profile-image-placeholder-png.png" alt="">
													<% } %>
												</div>
											</div><!--username-dt end-->
											<div class="user-specs">
												<h3><%= locals.data.displayname%></h3>
												<span><%= locals.data.class%> - <%= locals.data.dean%></span>
											</div>
										</div><!--user-profile end-->
										<ul class="user-fw-status">
											<li>
												<h4>Following</h4>
												<span style="font-style: italic; text-shadow: 0 0 8px #000;">Coming soon</span>
											</li>
											<li>
												<h4>Followers</h4>
												<span style="font-style: italic; text-shadow: 0 0 8px #000;">Coming soon</span>
											</li>
											<!-- <li>
												<a href="/user-profile.html" title="">View Profile</a>
											</li> -->
										</ul>
									</div><!--user-data end-->
									
									<div class="tags-sec full-width">
										<div class="cp-sec">
											<img src="images/tdt_logo_white.png" alt="">
											<p><img src="images/cp.png" alt="">Nhut & Brandon</p>
										</div>
									</div><!--tags-sec end-->
								</div><!--main-left-sidebar end-->
							</div>
							<div class="col-lg-6 col-md-8 no-pd">
								<div class="main-ws-sec">
									<div class="post-topbar">
										<div class="user-picy">
											<% if(locals.data.imageurl != undefined) { %>
												<img src="<%= locals.data.imageurl%>" alt="" width="50px" height="50px">
											<% } else{ %>
												<img src="http://via.placeholder.com/100x100" alt="">
											<% } %>
										</div>
										<div class="post-st">
											<ul>
												<li><a class="post-jb active" href="#" title="">Post something? 🤔</a></li>
											</ul>
										</div><!--post-st end-->
									</div><!--post-topbar end-->
                                    <!-- Placeholder for new post -->
                                    <div id="newPost" class="posts-section"></div>

									<%if (locals.record.length >0){ %>
                                        <% record.forEach(function(row){ %>
                                            <div id="posts-section" class="posts-section">
                                                <div class="posty" post_id="<%= row._id%>">
                                                    <div class="post-bar no-margin">
                                                        <div class="post_topbar">
                                                            <div class="usy-dt">
                                                                <!-- Nhut added user profile picture for each post here -->
                                                                <img style="width: 50px; height: 50px;" src="<%=locals.data.imageurl%>" alt="">
                                                                <div class="usy-name">
                                                                    <h3><%= locals.data.displayname%></h3>
                                                                    <span><img src="images/clock.png" alt=""><%= row.createdAt%></span>
                                                                </div>
                                                            </div>
                                                            <div class="ed-opts">
                                                                <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                                                <ul class="ed-options">
                                                                    <li><a class="post-edit active" id="editLink" href="#" value="<%= row._id%>" title="">Edit Post</a></li>
                                                                    <li><a id="delLink" href="#" value="<%= row._id%>" title="">Delete Post</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="job_descp">
                                                            <h3><%= row.title %></h3>
                                                            <p id="description_p">
                                                                <pre><%= row.description %></pre>
                                                                <!-- This is for View more function -->
                                                                <!-- <a href="#" title="">view more</a> -->
                                                            </p>
                                                            <img <% if(row.post_img == null){ %>style="display: none;"<% } %> src=<%= row.post_img %> alt="">
                                                        
                                                            <iframe <% if(row.url_video == null){ %>style="display: none;"<% } %> width="500" height="300" src="https://www.youtube.com/embed/<%= row.url_video %>  " frameborder="0">
                                                            </iframe>
                                                            
                                                        </div>
                                                        <div class="job-status-bar">
                                                            <ul class="like-com"> 
                                                                <li><a href="#" title="" class="com"><img src="images/com.png" alt=""> Comment 15</a></li>
                                                            </ul>
                                                            
                                                        </div>
                                                    </div><!--post-bar end-->

                                                    <!-- Comment section -->
                                                    <div class="comment-section">
                                                        <div class="comment-sec">
                                                            <ul>
                                                                <li>
                                                                    <% row.comments.forEach(function(comment){ %>
                                                                        <% if(comment != null){ %>
                                                                            <div class="comment-list" comment_id="<%= comment._id%>">
                                                                                <div class="bg-img">
                                                                                    <img style="width: 40px; height: 40px;" src="<%= comment.userImage%>" alt="">
                                                                                </div>
                                                                                <div class="comment">
                                                                                    <h3><%= comment.displayname%></h3>
                                                                                    <p><%= comment.content%></p>
                                                                                </div>
                                                                                <div class="ed-opts">
                                                                                    <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                                                                    <ul class="ed-options" style="width: 130px;">
                                                                                        <li><a id="delComment" href="#" value="<%= comment._id%>" title="">Delete</a></li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div><!--comment-list end-->
                                                                        <% } %>
                                                                    <% }) %>
                                                                    
                                                                </li>
                                                            </ul>
                                                        </div><!--comment-sec end-->
                                                        <div class="post-comment">
                                                            <div class="cm_img">
                                                                <img style="width: 40px; height: 40px;" src="<%= locals.data.imageurl %>" alt="">
                                                            </div>
                                                            <!-- Nhut fix this to make comment posting function -->
                                                            <div class="comment_box">
                                                                <form id="cmtForm" method="POST" post_id="<%= row._id%>">
                                                                    <input type="text" placeholder="Post your comment" name="comment">
                                                                    <button class="submit" id="cmtButton" type="submit" post_id="<%= row._id%>">Send</button>
                                                                </form>
                                                            </div>

                                                        </div><!--post-comment end-->
                                                    </div><!--comment-section end-->
                                                </div><!--posty end-->
                                                <div class="process-comm">
                                                    <!-- <div class="spinner">
                                                        <div class="bounce1"></div>
                                                        <div class="bounce2"></div>
                                                        <div class="bounce3"></div>
                                                    </div> -->
                                                </div>
                                            </div><!--posts-section end-->
                                        <% }) %>
                                    <% } %>
								</div><!--main-ws-sec end-->
							</div>
							<div class="col-lg-3 pd-right-none no-pd">
								<div class="right-sidebar">
									<!--widget-about end-->
									<div class="widget widget-jobs">
										<div class="sd-title">
											<h3>Hey, Let's get in the box 😉</h3>
											<i class="la la-ellipsis-v"></i>
										</div>
										<div class="jobs-list">
											<div class="job-info">
												<div class="job-details">
													<h3><a href="https://github.com/NhutNguyen236"> My Github</a></h3>
													<p>You can come and visit some of my codes there too, real fun tho...</p>
												</div>
												<div class="hr-rate">
													<span><a href="https://github.com/NhutNguyen236"><img src="https://emoji.gg/assets/emoji/4601_github.png" alt="" width="40"></a></span>
												</div>
											</div><!--job-info end-->
											<div class="job-info">
												<div class="job-details">
													<h3><a href="https://www.facebook.com/Nhut.Nguyenofficial2775/"> My Facebook</a></h3>
													<p>Hey, come to my facebook and keep in touch, why not? 😉</p>
												</div>
												<div class="hr-rate">
													<span><a href="https://www.facebook.com/Nhut.Nguyenofficial2775/"><img src="https://i.pinimg.com/originals/79/0d/29/790d29ac20dc5fc7cd5c2a61cbddb9f7.png" alt="" width="40"></a></span>
												</div>
											</div><!--job-info end-->
											<div class="job-info">
												<div class="job-details">
													<h3><a href="https://www.linkedin.com/in/nhut-nguyen-a70834174"> My LinkedIn</a></h3>
													<p>Want to hire me? Come and get some 😉</p>
												</div>
												<div class="hr-rate">
													<span><a href="https://www.linkedin.com/in/nhut-nguyen-a70834174"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Linkedin_icon.svg/1200px-Linkedin_icon.svg.png" alt="" width="40"></a></span>
												</div>
											</div><!--job-info end-->
											
										</div><!--jobs-list end-->
									</div><!--widget-jobs end-->
									
									
									</div>
								</div><!--right-sidebar end-->
							</div>
						</div>
					</div><!-- main-section-data end-->
				</div> 
			</div>
		</main>


		<div class="post-popup pst-pj">
			<div class="post-project">
				<h3>Post a project</h3>
				<div class="post-project-fields">
					<form>
						<div class="row">
							<div class="col-lg-12">
								<input type="text" name="title" placeholder="Title">
							</div>
							<div class="col-lg-12">
								<div class="inp-field">
									<select>
										<option>Category</option>
										<option>Category 1</option>
										<option>Category 2</option>
										<option>Category 3</option>
									</select>
								</div>
							</div>
							<div class="col-lg-12">
								<input type="text" name="skills" placeholder="Skills">
							</div>
							<div class="col-lg-12">
								<div class="price-sec">
									<div class="price-br">
										<input type="text" name="price1" placeholder="Price">
										<i class="la la-dollar"></i>
									</div>
									<span>To</span>
									<div class="price-br">
										<input type="text" name="price1" placeholder="Price">
										<i class="la la-dollar"></i>
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<textarea name="description" placeholder="Description"></textarea>
							</div>
							<div class="col-lg-12">
								<ul>
									<li><button class="active" type="submit" value="post">Post</button></li>
									<li><a href="#" title="">Cancel</a></li>
								</ul>
							</div>
						</div>
					</form>
				</div><!--post-project-fields end-->
				<a href="#" title=""><i id="close-button" class="la la-times-circle-o"></i></a>
			</div><!--post-project end-->
		</div><!--post-project-popup end-->

		<!-- Copy paste this in index -->
		<div class="post-popup job_post">
			<div class="post-project">
				<h3>Write your post 😇</h3>
				<div class="post-project-fields">
					<form id="postForm" method="POST" enctype="multipart/form-data">
						<div class="row">
							<div class="col-lg-12">
								<input id="titleInput" type="text" name="title" placeholder="Title" required>
							</div>
							
							<div class="col-lg-12">
								<textarea id="descInput" name="description" placeholder="Description" required></textarea>
							</div>

                            <!-- For image upload -->
                            <div class="col-lg-12">
							    <input type="file" id="img" name="postImage" accept="image/*">
							</div>

                            <div class="col-lg-12">
                                <input id="urlInput" type="url" name="url_video" id="url"
                                placeholder="https://www.youtube.com/"
                                pattern="https://www.youtube.com/.*" size="30">
                            </div>
                            
							<div class="col-lg-12">
								<ul>
									<li><button id="postButton" class="submit" type="submit" value="post">Post</button></li>
								</ul>
							</div>
						</div>
					</form>
				</div><!--post-project-fields end-->
				<a href="#" title=""><i class="la la-times-circle-o"></i></a>
			</div><!--post-project end-->
		</div><!--post-project-popup end-->

        <!-- For edit post -->
        <!-- Copy paste this in index -->
		<div class="post-popup-edit job_post">
			<div class="post-project-edit">
				<h3>Edit your post 😇</h3>
				<div class="post-project-fields">
					<form id="editForm" method="POST" enctype="multipart/form-data">
						<div class="row">
							<div class="col-lg-12">
								<input id="titleEdit" type="text" name="title" placeholder="Title" required>
							</div>
							
							<div class="col-lg-12">
								<textarea id="descEdit" name="description" placeholder="Description" required></textarea>
							</div>

                            <!-- For image upload -->
                            <div class="col-lg-12">
							    <input type="file" id="img" name="postImage" accept="image/*">
							</div>

                            <div class="col-lg-12">
                                <input id="urlEdit" type="url" name="url_video" id="url"
                                placeholder="https://www.youtube.com/"
                                pattern="https://www.youtube.com/.*" size="30">
                            </div>
                            
							<div class="col-lg-12">
								<ul>
									<li><button id="editButton" class="submit" type="submit" value="post">Edit</button></li>
								</ul>
							</div>
						</div>
					</form>
				</div><!--post-project-fields end-->
				<a href="#" title=""><i class="la la-times-circle-o"></i></a>
			</div><!--post-project end-->
		</div><!--post-project-popup end-->

	</div><!--theme-layout end-->



<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/popper.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="lib/slick/slick.min.js"></script>
<script type="text/javascript" src="js/scrollbar.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<!-- Nhut added typehead lib and searchBar.js -->
<script type="text/javascript" src="js/typeahead.min.js"></script>

<!-- typeahead will break your entire DOM so re-definition is required -->
<script type="text/javascript" src="js/searchBar.js">
</script>

</body>
</html>